#page2 {
    background-color: $lightblue;
    padding: 5% 0;
}

#picture2 {
    width: 400px;
    height: 400px;
    background-image: url(../images/frame.png);
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
}

#skills {
    height: 750px;
    background-color: $darkblue;
    padding: 5% 0;
}

.skills {

    ul {
        list-style-type: none;
        gap: 100px;
        padding-bottom: 80px;
        li {

            a {
                img {
                    width: 100px;

                    
                }
            }

        }
    }
    h1 {
        text-transform: uppercase;
        padding-bottom: 50px;
    }
}

h5 {
    color: $orange;
    font-size: 18px;
    font-family: $fontFamily-primary;
}

.about {
    padding-bottom: 5%;
    height: 650px;

    .intro {

        p {
            font-size: 15px;

        }
    }
}

@media screen and (max-width: 768px) {
    .about {
        height: 900px;
    }
    .skills {
        height: 400px;
    }
    
}

@media screen and (max-width: 320px) {
    #picture2 {
        width: 300px;
        height: auto;

        img {
            width: 280px;
            height: auto;
        }
    }
    
    .skills {

        ul {
            gap: 8px;
            li {
                a {
                    img {
                        width: 80px;
                    }
                }
            }
        }
    }

    #skills {
        height: 500px;
    }
}
